body
{
    // font-family: 'Open Sans', sans-serif;
    // font-size: 13px;
    // font-weight: normal;
    // font-style: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1219px;
}
