<footer class="footer">
	<div class="container">
		<div class="related">
			<h3 class="footer-title">
				читайте також
			</h3>
			<ul class="related-list">
				<li class="related-item related-item-1">
					<a href="#" target="_blank" class="related-link">
						Чому ми повинні уникати просвітників?
					</a>
				</li>
				<li class="related-item  related-item-2">
					<a href="#" target="_blank" class="related-link">
						Як українці читають своїм крейзанутим і божевільним дітям уголос?
					</a>
				</li>
				<li class="related-item  related-item-3">
					<a href="#" target="_blank" class="related-link">
						Хто винайшов підлітків?
					</a>
				</li>
			</ul>
		</div>
		<div class="new">
			<h3 class="footer-title">
				нове й найцікавіше
			</h3>
			<ul class="new-list">
				<li class="new-item new-item-1">
					<figure class="new-item__img"></figure>
					<p class="tag new-item__tag">
						<a href="#">
							книжкова полиця
						</a>
					</p>
					<h4 class="new-item__title">
						Як говорити: найцікавіші книжки-картинки про смерть
					</h4>
				</li>
				
				<li class="new-item new-item-2">
					<figure class="new-item__img"></figure>
					<p class="tag new-item__tag">
						<a href="#">
							популярна культура
						</a>
					</p>
					<h4 class="new-item__title">
						Сучасне батьківство: «Шведські тати»
					</h4>
				</li>
				<li class="new-item new-item-3">
					<figure class="new-item__img"></figure>
					<p class="tag new-item__tag">
						<a href="#">
							популярна культура
						</a>
					</p>
					<h4 class="new-item__title">
						Сучасне батьківство: «Шведські тати»
					</h4>
				</li>
				<li class="new-item new-item-4">
					<figure class="new-item__img"></figure>
					<p class="tag new-item__tag">
						<a href="#">
							книжкова полиця
						</a>
					</p>
					<h4 class="new-item__title">
						Як говорити: найцікавіші книжки-картинки про смерть
					</h4>
				</li>
				
				<li class="new-item new-item-5">
					<figure class="new-item__img"></figure>
					<p class="tag new-item__tag">
						<a href="#">
							популярна культура
						</a>
					</p>
					<h4 class="new-item__title">
						Сучасне батьківство: «Шведські тати»
					</h4>
				</li>
				<li class="new-item new-item-6">
					<figure class="new-item__img"></figure>
					<p class="tag new-item__tag">
						<a href="#">
							популярна культура
						</a>
					</p>
					<h4 class="new-item__title">
						Сучасне батьківство: «Шведські тати»
					</h4>
				</li>
			</ul>
		</div>
	</div>
</footer>