.footer {
    background-color: #f1f1f2;
    padding-top: 10%;
}
.related {}
.footer-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 128px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.related-list {
    display: flex;
    justify-content: space-between;
}
.related-item {
    background-size: cover;
    width: 32%;
    padding: 80px 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 5px;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 0.57;
    }
    &-1 {
        background-image: url(../images/rel-img-1.png);
    }
    &-2 {
        background-image: url(../images/rel-img-2.png);
    }
    &-3 {
        background-image: url(../images/rel-img-3.png);
    }
}
.related-link {
    z-index: 2;
    position: relative;
    font-size: 24px;
    line-height: 1.3;
}
.new {}
.new-title {}
.new-list {
    display: flex;
    flex-flow: row wrap;
    // padding: 80px 20px;
    box-sizing: border-box;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
}
.new-item {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     align-content: flex-start;
    &-1 {
        .new-item__img {
            background-image: url("../images/new-img-1.png");
        }
    }
    &-2 {
        .new-item__img {
            background-image: url("../images/new-img-2.png");
        }
    }
    &-3 {
        .new-item__img {
            background-image: url("../images/new-img-3.png");
        }
    }
    &-4 {
        .new-item__img {
            background-image: url("../images/new-img-4.png");
        }
    }
    &-5 {
        .new-item__img {
            background-image: url("../images/new-img-5.png");
        }
    }
    &-6 {
        .new-item__img {
            background-image: url("../images/new-img-6.png");
        }
    }
}
.new-item__img {
    background-size: cover;
    background-position: 50%;
    // min-height: 258px;
    height: 0;
    padding-top: 65%;
    flex-grow: 1;
}
.tag {}
.new-item__tag {
    margin: 5px 0;
    a {
        background-color: #606060;
        border: 1px solid #BCBCBD;
        padding: 0 7px;
        font-family: "Helvetica Neue";
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        display: inline-block;
    }
}
.new-item__title {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}